export(data_visualization)
export(plot_violin_grid)
export(plot_scatter_grid)
export(plot_scatter_ellipse)
export(plot_hist_grid)
export(plot_hist_grid_logY)
export(plot_density_grid)
export(plot_qq_grid)
export(plot_correlation_matrix)
export(data_report)
export(get_color)
export(clear_all)